-
	var players = [
			{
				country_img: 'img/countries/brazil.png',
				name:'Габриэль «FalleN» Толедо',
				age: '27',
				kd_rat: '1.07',
				headshots_koef: '44.0',
				maps_played: '67'
			},
			{
				country_img: 'img/countries/brazil.png',
				name:'Фернандо «fer» Альваренга',
				age: '25',
				kd_rat: '1.18',
				headshots_koef: '44.0',
				maps_played: '66'
			},
			{
				country_img: 'img/countries/brazil.png',
				name:'Марсело «coldzera» Давид',
				age: '22',
				kd_rat: '1.29',
				headshots_koef: '47.8',
				maps_played: '66'
			},
			{
				country_img: 'img/countries/brazil.png',
				name:'Эпитасио «TACO» де Мело',
				age: '22',
				kd_rat: '0.94',
				headshots_koef: '45.1',
				maps_played: '66'
			},
			{
				country_img: 'img/countries/brazil.png',
				name:'Жоао «felps» Васконселлос',
				age: '20',
				kd_rat: '1.07',
				headshots_koef: '45.6',
				maps_played: '66'
			}
			]

mixin create_player_row(player)
	tr.player
		td.hidden: img.country(src=player.country_img)
		td #{player.name} 
		td.hidden #{player.age}
		td #{player.kd_rat}
		td #{player.headshots_koef}
		td #{player.maps_played}

mixin create_players_table()
	table.team
		tr.head
			th.hidden Страна
			th Игрок
			th.hidden Возраст
			th K/D-рейтинг
			th Хедшоты
			th Сыграно карт
		each item in players
			+create_player_row(item)